::-moz-selection { 
    background-color: $base-color; 
    color: $main_background_color;
}
    
::selection {
    background-color: $base-color; 
    color: $main_background_color;
}

* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    box-sizing: border-box; 
    
    margin: 0; 
    padding: 0; 
    -webkit-text-size-adjust: none; 
} 

body{
    font-family: $main_font;
    margin: 0px;
    height: 100%; 
}

a{
    color: $link_color;
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-color: $link_underline_color;
    
    &:hover{
        text-decoration: none;
    }
}



li > ul {
    padding-left: 15px; 
}