/* actual page content pane */     
#page-content { 
    margin-left: 0px; 
    margin-top: $header-height; 
    width: 100%; 
    height: calc(100% - 50px); 
    overflow-x:hidden; 
    overflow-y:scroll; 
    -webkit-overflow-scrolling: touch; 
    padding: 0px; 
    z-index: 10; 
}
    
    
.main_text{
    max-width: 50%;
    margin: 0 auto;

    img{
        max-width: 100%;
    }
}

.index-content{
    max-width: 50%;
    margin: 0 auto;
}