    /* actual page content pane */ 
    
#page-content { 
    margin-left: 0px; 
    margin-top: 50px; 
    width: 100%; 
    height: calc(100% - 50px); 
    overflow-x:hidden; 
    overflow-y:scroll; 
    -webkit-overflow-scrolling: touch; 
    padding: 0px; 
    z-index: 10; 
}
    
    
.main_text{
    max-width: 70%;
    margin: 0 auto;
}