$main_background_color: #fff;
$main_text_color: black;
$sidebar_background: black;
$sidebar_color: white;

//REG TAGS
$base-color: #4286f4;
$wrong-color: red;

//A Tag
$link_color: $base-color;
$link_underline_color: mix(white, $link_color, 70%);

//$main_font: Futura,Trebuchet MS,Arial,sans-serif; 
$main_font: 'Slabo 13px', serif;

$border-width: 1px;
$border-color: black;
$border-style: solid;

$header-height: 50px;
$sidebar-width: 400px;

@mixin sans() {
    font-family: 'Josefin Sans', sans-serif;
}

@mixin serif() {
    //font-family: 'Playfair Display', serif;
    font-family: $main_font;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin bold(){
    font-family: $text_font;
    font-weight: 700; 
}


//HELPER CLASSES
.horizontal {
    display: flex;
    justify-content: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
